@import 'anotherStyle';
/* Recordar, ojo, usar @import en lugar de @use ya que @use da error, en cambio @import no da error */

$color-violet: violet;
$color-green: green;
$color-red: red;
$times-font: arial;

div {
  color: $color-red;
  font-family: $times-font;
  width: 100%;
  display: flex;
  h3 {
    width: 900px / 1200px * 100%;
    /* Puedo hacer operacione matemáticas */
  }

  p {
    color: $color-green;
    @extend %create_box;
    width: percentage(300 / 1200); /* Se le puede colocar porcentaje como también no hace falta colocarle porcentaje */
    /* Tambien se puede aplicar la función percentage para colocar directamente el porcentage */
  }
}

p {
  @include color(purple, yellow, 30px);
}

h2 {
  @include color(orange, blue, 60px);
  @extend %create_box;
  /* Mixin es como una función */
}
